doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-1.11.1.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content